*{
  padding: 0;
  box-sizing: border-box;
}


.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  
}

.form {
  margin-bottom: 20px;
}

input {
  margin: 5px;
  padding: 8px;
  border-radius: 50px;
  background-color: powderblue;
  align-items: center;
}

button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50px;
  background-color: powderblue;
}

.contact-list {
  margin-top: 20px;
}

.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.contact-item button {
  margin-left: 10px;
}
.contact-manager{
  align-items: center;
}